<div id="listviewContainer" class="demo-container">
        
    <div id="page1" class="demo-page">
        <oj-list-view id="listview" aria-label="drill down list" 
            data="[[dataProvider]]" on-selection-changed="[[gotoContent]]" selection-mode="single">
            <template slot="itemTemplate">
                <div class="oj-flex-bar">
                    <div class="oj-flex-bar-middle oj-flex-bar">
                        <div class="oj-flex-bar-middle" style="font-weight: bold">
                            <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                        </div>
                        <div class="oj-flex-bar-end">
                            <span class="oj-flex-item"><oj-bind-text value="[[$current.data.date]]"></oj-bind-text></span>
                        </div>
                    </div>
                    <div class="oj-flex-bar-end oj-sm-align-items-center">
                      <div role="presentation" class="oj-flex-item oj-fwk-icon oj-listview-drill-icon"></div>
                    </div>         
                </div>
            </template>
        </oj-list-view>
    </div>

    <div id="page2" class="demo-page demo-page2-hide">
        <oj-button id="buttonIcon2" on-oj-action="[[gotoList]]">
          <span slot="startIcon" class="oj-fwk-icon-caret-start oj-fwk-icon"></span>
        Back
        </oj-button>
        <div class="oj-panel demo-panel">
            <span data-bind="text: content"></span>
        </div>
    </div>
</div>
